<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mit.mapper.CompanyMapper">


	<select id="getList" resultType="com.mit.domain.CompanyVO">
	select code,category, name, owner, business_number, contact,address from tbl_company
	</select>
	
	<insert id="insert">
	<![CDATA[
		insert into tbl_company
			(code, name, domestic_foreign, deal_type, owner, contact, address, currency, invoice_issue, 
			account, company_size, business_number,  taxcode, category, start_date, end_date, sales)
		values 
		
			(COMPANY_CODE.NEXTVAL, ]]> #{name}, #{domestic_foreign}, #{deal_type}, #{owner}, #{contact}, 
			#{address}, #{currency}, #{invoice_issue}, #{account}, #{company_size}, #{business_number}, 
			#{taxcode}, #{category}, #{start_date}, #{end_date}, #{sales}<![CDATA[ ) ]]>
	</insert>
	
</mapper>