<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mit.mapper.OrderStatusMapper">
	<sql id="criteria">
    	<trim prefixOverrides="AND">
   			<trim prefix="AND">
   				<if test='companyName!=null'>
   					name like'%'||#{companyName}||'%'
   				</if>
   				<if test='partName!=null'>
   					AND partname like'%'||#{partName}||'%'
   				</if>
   				<if test='startDate!=null and endDate ==null'>
   					<![CDATA[ AND order_date => TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD')  ]]>
   				</if>
   				<if test='startDate==null and endDate !=null'>
   					<![CDATA[ AND order_date <= TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD') ]]>
   				</if>
   				<if test='startDate!=null and endDate !=null'>
   					AND order_date between TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD')-1 and TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD')+1 
   					<!-- 날짜 검색 기능 개선 (between은 양쪽 날짜가 포함되지 않아 -1, +1 함)-->
   				</if>
   			</trim>
    	</trim>
    </sql>
    
	<sql id="tbl_orderStatus">
		<![CDATA[
		SELECT * FROM(
			SELECT * FROM(
			    SELECT ROWNUM rn,order_num, order_date, deliverydate, ware_date, partname, order_quantity, unitprice, name, business_number, empl_name, returnny,
			    CASE WHEN order_num IS NULL THEN '발주예정'
			        WHEN ware_date IS NULL and (sysdate - order_date)*24 < 8 THEN '발주서발행'
			        WHEN ware_date IS NULL and (sysdate - order_date)*24 >= 8 THEN '조달진행중'
			        WHEN not ware_date IS NULL THEN '거래마감'
			    END AS status
			    FROM(
			        SELECT 
			            NULL order_num, 
			            NULL order_date, 
			            s.deliverydate deliverydate, 
			            NULL ware_date, 
			            p.partname partname, 
			            NULL order_quantity, 
			            c.unitprice unitprice, 
			            company.name name, 
			            company.business_number, 
			            NULL empl_name, 
			            NULL returnny
			        FROM tbl_support s, tbl_part p, tbl_company company, employee e, tbl_contract c, purchase_order o
			        WHERE o.empl_num = e.empl_num AND o.contract_num = c.contractno AND c.code = company.code AND c.partcode = p.partcode AND s.supportno NOT IN (SELECT support_num FROM purchase_order) AND s.partcode = p.partcode
			        
			        UNION
			        
			        SELECT 
			            o.order_num order_num, 
			            o.order_date order_date, 
			            s.deliverydate deliverydate,
			            w.ware_date ware_date, 
			            p.partname partname, 
			            o.order_quantity order_quantity, 
			            c.unitprice unitprice, 
			            company.name name, 
			            company.business_number business_number, 
			            e.empl_name empl_name, 
			            w.return returnny
			        FROM purchase_order o, tbl_support s, tbl_part p, tbl_contract c, tbl_company company, employee e, warehousing w
			        WHERE o.support_num = s.supportno AND o.empl_num = e.empl_num AND o.contract_num = c.contractno AND c.partcode = p.partcode AND w.order_num = o.order_num AND c.code = company.code)
        ]]>
		<where>
	    	<include refid="criteria"></include>
    	</where>
		<![CDATA[        
		        ORDER BY order_num DESC)
	    	WHERE ROWNUM <= (#{pageNum} * #{amount}))
		WHERE rn > ((#{pageNum}-1) * #{amount}) 
		]]>
	</sql>
	
	<select id="getList" resultType="com.mit.domain.OrderStatusVO">
		<include refid="tbl_orderStatus"></include>
	</select>
	
	<select id="count" resultType="long">
		select count(*) from(<include refid="tbl_orderStatus"></include>)
	</select>
	
	<select id="description" resultType="com.mit.domain.StatusVO">
		select count(*) cn, status from(<include refid="tbl_orderStatus"></include>)
		group by status
	</select>
	
</mapper>