<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mit.mapper.OrderStatusMapper">
	
	<select id="getList" resultType="com.mit.domain.OrderStatusVO">
		<![CDATA[
		SELECT order_num, order_date, deliverydate, ware_date, partname, order_quantity, unitprice, name, business_number, empl_name, returnny,
		CASE WHEN order_num is null THEN '발주예정'
		    WHEN ware_date is null and (order_date - sysdate)*24 < 8 THEN '발주서발행'
		    WHEN ware_date is null and (order_date - sysdate)*24 >= 8 THEN '조달진행중'
		    WHEN not ware_date is null THEN '거래마감'
		END AS status
		FROM(
			SELECT * from(
				SELECT 
				    DISTINCT 
				    null order_num, 
				    null order_date, 
				    s.deliverydate deliverydate, 
				    null ware_date, 
				    p.partname partname, 
				    null order_quantity, 
				    c.unitprice unitprice, 
				    company.name name, 
				    company.business_number, 
				    null empl_name, 
				    null returnny
				FROM tbl_support s, tbl_part p, tbl_company company, employee e, tbl_contract c, purchase_order o
				WHERE 
					c.partcode = p.partcode 
					and o.support_num != s.supportno
				
				union
				
				SELECT 
				    o.order_num order_num, 
				    o.order_date order_date, 
				    s.deliverydate deliverydate,
				    w.ware_date ware_date, 
				    p.partname partname, 
				    o.order_quantity order_quantity, 
				    c.unitprice unitprice, 
				    company.name name, 
				    company.business_number business_number, 
				    e.empl_name empl_name, 
				    w.return returnny
				FROM purchase_order o, tbl_support s, tbl_part p, tbl_contract c, tbl_company company, employee e, warehousing w
				WHERE 
					o.support_num = s.supportno 
					and o.empl_num = e.empl_num 
					and o.contract_num = c.contractno 
					and c.partcode = p.partcode 
					and w.order_num = o.order_num)
				order by order_num desc)
		]]>
	</select>
	
</mapper>