<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mit.mapper.PartMapper">


	<select id="getList" resultType="com.mit.domain.PartVO">
		<![CDATA[select partcode, partname, nickname, library, drw_no, remark from tbl_Part]]>
	</select>
	
	<insert id="insert">
		<![CDATA[INSERT INTO tbl_part(partcode, partname, nickname, library, drw_no, drw_img, common, remark) 
		values(seq_partcode.nextval, #{partname}, #{nickname}, #{library}, #{drw_no}, #{drw_img}, #{common}, #{remark})]]>
	</insert>
	
	
	
</mapper>