<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mit.mapper.transactionCloseMapper">
	
	<select id="getList" resultType="com.mit.domain.transactionCloseVO">
			select o.order_num, w.ware_date, p.partcode, p.partname, cp.name, e.empl_name,e.empl_email
			from tbl_part p , tbl_contract c, tbl_company cp, warehousing w, purchase_order o,
			employee e where p.partcode = c.partcode and c.code = cp.code and c.contractno = o.contract_num and w.order_num = o.order_num and
			o.empl_num = e.empl_num 

	</select>
	
</mapper>