<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mit.mapper.transactionCloseMapper">
	<sql id="criteria">
    	<trim prefixOverrides="AND">
   			<trim prefix="AND">
   				<if test='companyName!=null'>
   					AND name like'%'||#{companyName}||'%'
   				</if>
   				<if test='partName!=null'>
   					AND partname like'%'||#{partName}||'%'
   				</if>
   				<if test='startDate!=null and endDate ==null'>
   					<![CDATA[ AND ware_date => TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD')  ]]>
   				</if>
   				<if test='startDate==null and endDate !=null'>
   					<![CDATA[ AND ware_date <= TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD') ]]>
   				</if>
   				<if test='startDate!=null and endDate !=null'>
   					AND ware_date between TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD')-1 and TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD')+1 
   					<!-- 날짜 검색 기능 개선 (between은 양쪽 날짜가 포함되지 않아 -1, +1 함)-->
   				</if>
   				<if test='recentDate !=null and recentDate.equals("week")'>
   					<![CDATA[ AND ware_date >= sysdate-7  ]]>
   					<!-- 최근 일주일  -->
   				</if>
   				<if test='recentDate !=null and recentDate.equals("month")'>
   					<![CDATA[ AND ware_date >= sysdate-30 ]]>
   					<!-- 최근 한달  -->
   				</if>
   			</trim>
    	</trim>
    </sql>
    
	
	<sql id="tbl_tran">
		<![CDATA[
		
			 SELECT order_num, ware_date, partcode, partname, name,ware_quantity,price,closing_date
			 FROM
            (select rownum rn,order_num,ware_date ,partcode,partname ,name,ware_quantity,price,closing_date
            from
    		(SELECT  o.order_num order_num,
             w.ware_date ware_date,
            p.partcode partcode,
            p.partname partname, 
            cp.name name,
            w.ware_quantity ware_quantity,
            c.unitprice*o.order_quantity price,
            w.closing_date closing_date

            from tbl_part p , tbl_contract c, tbl_company cp, warehousing w, purchase_order o,
             tbl_support s
			WHERE p.partcode = c.partcode and c.code = cp.code and c.contractno = o.contract_num and o.order_num = w.order_num and c.partcode = s.partcode
            and o.support_num = s.supportno and w.ware_date is not null and w.return = 'N'
		]]>
		
	    	<include refid="criteria"></include>
    	
		<![CDATA[        
		       	order by order_num desc)
	    	WHERE ROWNUM <= (#{pageNum} * #{amount}))
		WHERE rn > ((#{pageNum}-1) * #{amount}) 
		]]>

	</sql>
	
	<select id="read" resultType="com.mit.domain.transactionCloseVO">
		<![CDATA[
			select*from(select  o.order_num order_num, w.ware_date ware_date, p.partcode partcode, p.partname partname, cp.name name,
				 s.deliverydate deliverydate , cp.business_number business_number,cp.comemail, cp.comemployee,
				w.ware_quantity ware_quantity, o.order_date order_date, c.unitprice unitprice
				from tbl_part p , tbl_contract c, tbl_company cp, warehousing w, purchase_order o,
             tbl_support s
			WHERE p.partcode = c.partcode and c.code = cp.code and c.contractno = o.contract_num and o.order_num = w.order_num and c.partcode = s.partcode
            and o.support_num = s.supportno and w.ware_date is not null and w.return = 'N')WHERE order_num=#{order_num}
		]]>

	</select>
	
	<select id="count" resultType="long">
		select count(*) from(<include refid="tbl_tran"></include>)
	
	
	</select>
	
	<select id="getList" resultType="com.mit.domain.transactionCloseVO">
	<include refid="tbl_tran"></include>		
	</select>
	

	<update id="date_update">
	update  warehousing set closing_date=sysdate where  order_num=${order_num}
	</update>
	
	
	
</mapper>